<div class="book">
 <%= content_tag :span, "#{@book.name} (#{@book.author})", class: "book-tittle" %>
 <%= link_to 'Edit', edit_book_path(@book) %>
</div>

<div id="notes">
  <%= 
  render @book.notes 
  #note partials
  %>
</div>

<div>
  <%= 
  #form for new note
  # nested resource [@book, @book.notes.new]
  form_for([@book, @book.notes.new]) do |f| 
  %>
    <div class="field">
      <%= f.label :tittle %>
      <%= f.text_field :tittle %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note, size: "25x5" %>
    </div>

    <div class="action">
      <%= f.submit "Add New Note" %>
    </div>
  <% end %>
</div>
<%= link_to 'Back', books_path%>
